<div class="bg-white main-wrapper">
  <div class="content">
    <h3 class="mb-5">Đăng ký</h3>
    <form class="mb-3">
      <div class="mb-4 control control--lg">
        <input class="w-100" type="text" placeholder="Số điện thoại">
      </div>
      <div class="form-group">
        <button class="w-100 btn btn--md btn-primary-alt text-uppercase">Đăng Nhập</button>
      </div>
    </form>

    <div class="my-4 position-relative separate-line">
      <span class="position-absolute px-3">Hoặc</span>
    </div>

    <div class="mb-5 d-flex social-login-button">
      <button class="flex-fill btn btn-outline-light-alt btn-facebook">Facebook</button>
      <button class="flex-fill btn btn-outline-light-alt">Google</button>
    </div>

    <p class="text-center">
      Bạn đã có tài khoản? 
      <a 
        class="ml-2 text-primary-alt" 
        [routerLink]="['../sign-in']"
      >Đăng nhập</a>
    </p>
  </div>
</div>
