<div class="bg-white widget-content">
  <!-- Start :: Header -->
  <div class = "page-user--header">
    <p>Hồ sơ của tôi</p>
    <span>Quản lý thông tin hồ sơ để bảo mật tài khoản</span>
  </div>
  <!-- End :: Header -->

  <!-- Start :: Form -->
  <div class="row d-flex">
    <div class="col-8">
      <div class="widget-text-form">
        <!-- Username -->
        <div class="mb-3 row align-items-center">
          <div class="col-3 text-end">
            <label>Tên đăng nhập</label>
          </div>
          <div class="col-9">
            <span class="constant-value">tranvudpqn456</span>
          </div>
        </div>

        <!-- FullName -->
        <div class="mb-3 row align-items-center">
          <div class="col-3 text-end">
            <label class="label-input">Tên</label>
          </div>

          <div class="col-9">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nhập vào">
            </div>
          </div>
        </div>

        <!-- Email -->
        <div class="mb-3 row align-items-center">
          <div class="col-3 text-end">
            <label class="label-input">Email</label>
          </div>

          <div class="col-9">
            <div class="input-box">
              <span class="constant-value">tranvudpqn123@gmail.com <a href="#/">Thay đổi</a></span>
            </div>
          </div>
        </div>

        <!-- Phone -->
        <div class="mb-3 row align-items-center">
          <div class="col-3 text-end">
            <label class="label-input">Số điện thoại</label>
          </div>

          <div class="col-9">
            <div class="input-box">
              <span class="constant-value">123 456 7890 <a href="#/">Thay đổi</a></span>
            </div>
          </div>
        </div>

        <!-- Shop Name -->
        <div class="mb-3 row align-items-center">
          <div class="col-3 text-end">
            <label class="label-input">Tên Shop</label>
          </div>

          <div class="col-9">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Nhập vào">
            </div>
          </div>
        </div>

        <!-- Gender -->
        <div class="mb-3 row align-items-center">
          <div class="col-3 text-end">
            <label class="label-input">Giới tính</label>
          </div>

          <div class="col-9">
            <div class="input-box">
              <div class="input-radio active">
                <div></div>
                <span>Nam</span>
              </div>
              <div class="input-radio">
                <div></div>
                <span>Nữ</span>
              </div>
              <div class="input-radio">
                <div></div>
                <span>Khác</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Birthday -->
        <div class="mb-3 row align-items-center">
          <div class="col-3 text-end">
            <label class="label-input">Ngày sinh</label>
          </div>

          <div class="col-9">
            <div class="input-box"></div>
          </div>
        </div>

        <div class="mb-3 row align-items-center">
          <div class="col-3"><label class="label-input"></label></div>

          <div class="col-9">
            <div class="input-box">
              <button>Lưu</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="text-center widget-image-form">
        <div>
          <div class="thumbnail"></div>
          <div class="px-5 widget-button-add-image">
            <input
              type="file"
              accept = ".jpg,.jpeg,.png"
            />
            <button>Chọn ảnh</button>
            <p>Dụng lượng file tối đa 1 MB Định dạng:.JPEG, .PNG</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End :: Form -->
</div>



