@use 'color' as color;
@use 'fontSize' as fs;

.bg-size-contain {
  background-size: contain;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.text-white {
  color: color.$color-14;
}

.line-height-1 {
  line-height: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.container {
  max-width: 1200px;
}

.cursor-pointer {
  cursor: pointer;
}

// ============ BUTTON ============
button[class*=btn] {
  border-radius: 2px;

  &.btn-lg {
    height: 40px;
    font-size: fs.$fs-2;
  }

  svg {
    margin-right: 6px;
    width: 12px;
    height: 12px;
  }
}

.btn--lg {
  min-width: 80px;
  max-width: 250px;
  font-size: 16px;
  height: 48px;
  padding: 0 20px;

  svg {
    width: 20px!important;
    height: 20px!important;
  }
}

.btn--sm {
  height: 34px;
  svg {
    width: 14px!important;
    height: 14px!important;
  }
}

.btn-primary-alt {
  color: color.$color-14;

  svg {
    fill: color.$color-14;
    stroke: color.$color-14;
  }

  &:hover {
    color: color.$color-14;
    background-color: color.$color-7;
  }
}

.btn-default-alt {
  color: color.$color-13;
  border: color.$color-20;

  svg {
    fill: color.$color-13;
  }
}

.btn-outline-primary-alt {
  color: color.$color-2;
  border: 1px solid color.$color-2;
  background-color: color.$color-6;

  &:hover {
    color: color.$color-2;
    background-color: color.$color-5;
  }

  svg {
    stroke: color.$color-2;
    fill: color.$color-2;
  }
}

.btn-outline-light-alt {
  color: color.$color-13;
  border: 1px solid color.$color-20;
  background-color: color.$color-14;

  &:hover {
    color: color.$color-13;
    background-color: color.$color-21;
  }

  svg {
    stroke: color.$color-13;
    fill: color.$color-13;
  }
}

$button-background-colors: (
  "primary-alt": color.$color-2,
  "default-alt": color.$color-3,
);

@each $key, $value in $button-background-colors {
  .btn-#{$key} {
    background-color: $value;
  }
}


.badge-primary-alt {
  color: color.$color-14;
}

*[class*="badge"] {
  font-weight: 400;
}

$badge-background-colors: (
  "primary-alt": color.$color-2,
  "default-alt": color.$color-3,
);

@each $key, $value in $button-background-colors {
  .badge-#{$key} {
    background-color: $value;
  }
}


$text-colors: (
  "primary-alt": color.$color-2,
  "default-alt": color.$color-3,
);

@each $key, $value in $text-colors {
  .text-#{$key} {
    color: $value;
  }
}

// ============ FORM CONTROL ============
.control {
    display: flex;
    align-items: center;
    border: 1px solid color.$color-20;
    border-radius: 3px;
}

.control--sm {
    height: 24px;
}

.control--md {
    padding: 0 12px;
    height: 30px;
}

.control--lg {
    height: 38px;
}