<div class="d-flex flex-wrap list-product">
  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-inline-block product">
    <div class="bg-white">
      <div class="product__thumbnail">
        <div class="product__avatar">
          <img src="https://cf.shopee.vn/file/d45d8207f90f979f1e06b305ca22a6b3_tn" alt="">
        </div>
      </div>
      <div class="product__text">
        <div class="mb-2 product__title">Chân váy ngắn chữ A Có Lót Quần KAMONG kiểu dáng chân váy công sở CV007</div>
        <div class="d-flex product__price">
          <div class="product__price--original">₫160.000</div>
          <div class="product__price--reliaty">₫97.000</div>
        </div>
        <div class="mb-2 d-flex align-items-center">
          <div class="product__rating">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><polygon points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon></svg>
          </div>
          <div class="product__sold-number">Đã bán 8k</div>
        </div>

        <div class="product__delivery-address">TP. Hồ Chí Minh</div>
      </div>
    </div>
  </div>
</div>
