.widget-content {
  padding: 1rem 1.5rem;
  background-color: #fff;
  font-size: 16px;
}

.address {

}

.button-add {
  display: flex;
    align-items: center;
    padding: .5rem 2rem;
    font-size: .875rem;

    color: #fff;
    background-color: #ee4d2d;
    border-radius: 2px;
    border: 1px solid #ee4d2d;

    &:hover{
        color: #ee4d2d;
        background-color: transparent;
    }


    span{
        font-size: 1.125rem;
        margin-right: .75rem;
    }
}

.button-action {
  margin-left: 1.5em;
    text-decoration: underline;
}

.button-set-default {
  padding: .25em 1em;
    text-transform: capitalize;
    border: 1px solid gray;
    cursor: not-allowed!important;
    opacity: .7;
}

.button-set-default-active {
  padding: .25em 1em;
  text-transform: capitalize;
  border: 1px solid #d5d5d5;
  cursor: pointer!important;

  opacity: 1;
  color:rgba(0,0,0);
}

.address-item {
  display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem 0;

    font-size: .875em;

    border-top: 1px solid #efefef;

    label{
        width: 10em;
        margin-right: 2em;

        text-align: right;
        text-transform: capitalize;
    }

    .content{
        flex: 1;

        strong{
            margin-right: 1em;
            font-size: 1rem;
            color: rgba(0,0,0,.8);
        }
    }

    span.outline-badge {
        display: inline-block;
        margin-left: .5rem;
        padding: 0 8px;
        font-size: 13px;

        border: 1px solid #ee4d2d;
        color: #ee4d2d;
        border-radius: .25rem;
        line-height: 26px;
    }
}


