<section class="sidebar">
  <!-- Start :: Account Thumbnail -->
  <div class="pb-3 mb-3 d-flex widget-account">
    <div class="rounded-circle overflow-hidden thumbnail">
      <img src="https://cf.shopee.vn/file/a480cda31decdcf26ea8b92af927328e_tn" alt="avatar" />
    </div>
    <div class="ps-3 text">
      <strong>tranvudpqn123</strong>
      <a href="#/" class="d-block"><i class="fa-solid fa-pencil"></i> Sửa hồ sơ</a>
    </div>
  </div>
  <!-- End :: Account Thumbnail -->

  <!-- Start :: Widget Sidebar -->
  <ng-container *ngFor="let menu of menus">
    <div class="widget-dropdown">
      <div class = "d-flex">
        <div class = "me-3 widget-dropdown-icon">
          <img [src]="menu.icon" alt="icon" />
        </div>
        <a href="">{{menu.title}}</a>
      </div>

      <ng-container *ngIf="menu.subMenu.length > 0">
        <div
          class="widget-list-dropdown-item"
          [ngClass]="{'open': menu.isActive}"
        >
          <ng-container *ngFor="let subMenu of menu.subMenu">
            <div class = "widget-dropdown-item">
              <a href="#/">{{subMenu.title}}</a>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <!-- End :: Widget Sidebar -->
</section>


