<div class="widget-content">
  <div class="mb-4 d-flex align-items-center fw-bold header"><svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="me-2"><g><polyline fill="none" points="5.5 13.2 5.5 5.8 1.5 1.2 13.5 1.2 9.5 5.8 9.5 10.2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polyline></g></svg>BỘ LỌC TÌM KIẾM</div>

  <ng-container *ngFor="let filterObject of listFilterObject">
    <div class="mb-4 pb-4 widget-item">
      <div class="mb-3 text-capitalize title">{{filterObject.title}}</div>
      <ul>
        <ng-container *ngFor="let filterObjectItem of filterObject.listItem; let i = index">
          <li
            *ngIf="i < 6 && !filterObject.isShowFull"
            class="mb-3 d-block line-height-1"
            (click)="handleChoseFilterItem(filterObject.id, filterObjectItem.id)"
          >
            <div class="d-flex align-items-center select-item">
              <div class="me-3 d-flex align-items-center justify-content-center check-box" >
              <svg *ngIf="filterObjectItem.isSelected" enable-background="new 0 0 12 12" viewBox="0 0 12 12" x="0" y="0" ><g><path d="m5.2 10.9c-.2 0-.5-.1-.7-.2l-4.2-3.7c-.4-.4-.5-1-.1-1.4s1-.5 1.4-.1l3.4 3 5.1-7c .3-.4 1-.5 1.4-.2s.5 1 .2 1.4l-5.7 7.9c-.2.2-.4.4-.7.4 0-.1 0-.1-.1-.1z"></path></g></svg></div>
              {{filterObjectItem.title}}
            </div>
          </li>
        </ng-container>
        <li class="cursor-pointer d-block line-height-1 see-more select-item">
          Thêm
          <svg enable-background="new 0 0 11 11" viewBox="0 0 11 11" x="0" y="0" class="ms-2"><g><path d="m11 2.5c0 .1 0 .2-.1.3l-5 6c-.1.1-.3.2-.4.2s-.3-.1-.4-.2l-5-6c-.2-.2-.1-.5.1-.7s.5-.1.7.1l4.6 5.5 4.6-5.5c.2-.2.5-.2.7-.1.1.1.2.3.2.4z"></path></g></svg>
        </li>
      </ul>
    </div>
  </ng-container>
</div>
