@use 'color.scss' as color;
@use 'fontSize.scss' as fs;

.main-wrapper {
  padding: 30px 20px;

  i.icon {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  .header {
    h3 {
      font-size: 20px;
    }
  }

  .content {
    background-color: color.$color-41;
  }

  .list-category {
    padding: 8px 2px;

    i.icon {
      svg {
        width: 14px;
        height: 14px;
        fill: color.$color-42;
      }
    }

    .sub-category {
      max-height: 320px;
      overflow-y: auto;
      width: 240px;
      border-right: 1px solid color.$color-41;

      li {
        padding: 5px 10px;

        &:hover {
          background-color: color.$color-41;
        }
      }
    }
  }

  .result {
    span {
      color: color.$color-40;
    }
  }
}
