@use 'color.scss' as color;

.main-wrapper {

    .notification {
        color: color.$color-13;
    }

    .tab {
        &__selection {
            border-bottom: 1px solid color.$color-20;

            &__item {
                &.selected {
                    border-bottom: 2px solid color.$color-22;
                }
            }
        }
    }
}