<div class="main-wrapper">
    <div class="tab">
        <div class="mb-3 px-3 d-flex tab__selection">
            <div class="py-2 mx-3 cursor-pointer tab__selection__item selected">Upload</div>
            <div class="py-2 mx-3 cursor-pointer tab__selection__item">Embed Link</div>
        </div>

        <div class="p-3 tab__content">
            <div class="text-center">
                <button class="mb-2 w-100 btn btn-outline-light-alt">Upload File</button>
                <span>The maximun per file is 5MB</span>
            </div>
        </div>

    </div>
</div>