<div *ngIf = "!isLoading" class="product product--summary">
  <div class="mb-3 d-flex bg-white ">
    <div class="product__thumbnail">
      <div class="mb-3 product__avatar" style="background-image: url(https://cf.shopee.vn/file/c129d1bdcadcaf263452a132333850e1_tn);">
      </div>

      <div class="product__image-slide">
        <div class="item">
          <img src="https://cf.shopee.vn/file/c129d1bdcadcaf263452a132333850e1_tn" alt="">
        </div>
        <div class="item">
          <img src="https://cf.shopee.vn/file/88b6d25d5fb9cbe3712a642ed4990eb7_tn" alt="">
        </div>
        <div class="item">
          <img src="https://cf.shopee.vn/file/1da10851a9d34026ad4fb35db82a012b_tn" alt="">
        </div>
        <div class="item">
          <img src="https://cf.shopee.vn/file/sg-11134201-22100-cikn8qn0y4iva2_tn" alt="">
        </div>
        <div class="item">
          <img src="https://cf.shopee.vn/file/eddbdeaf78f5ac15cc83f764a291c59d_tn" alt="">
        </div>
      </div>
    </div>
    <div class="product__text">
      <div class="mb-3 product__title">
        <span class="me-2 badge badge-primary-alt">Yêu thích</span>
        Chân váy dài công sở KRfashion SK2106 Hàn Quốc bút chì đẹp có 2 lớp, váy nữ dài ôm midi đen cao cấp dáng dài
      </div>
      <div class="mb-3 d-flex align-items-center product__rating">
        <div class="d-flex align-items-center text-primary-alt widget">
          <div class="me-2 number">4.9</div>
          <div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <div class="mx-4 px-4 d-flex border-start border-end align-items-center widget">
          <div class="number">888</div>
          <div> Đánh Giá </div>
        </div>
        <div class="d-flex align-items-center widget">
          <div class="number">3.3k</div>
          <div>Đã Bán</div>
        </div>
      </div>
      <div class="d-flex align-items-center product__price">
        <span class="original">₫325.000 - ₫345.000</span>
        <span class="mx-3 text-primary-alt reality">₫199.000 - ₫219.000</span>
        <span class="badge badge-primary-alt">42% GIẢM</span>
      </div>
      <div class="p-4 product__indent">
        <div class="mb-4 d-flex item">
          <label class="flex-shrink-0 text-capitalize">Mã giảm giá của shop</label>
          <div>
            <div class="d-inline-block voucher-ticket">
              <div>
                <span>Giảm ₫12k</span>
              </div>
            </div>
            <div class="mx-3 d-inline-block voucher-ticket">
              <div>
                <span>Giảm ₫12k</span>
              </div>
            </div>
            <div class="d-inline-block voucher-ticket">
              <div>
                <span>Giảm ₫12k</span>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4 d-flex item">
          <label class="flex-shrink-0 text-capitalize">Vận chuyển</label>
          <div class="d-flex align-items-start line-height-1 transform">
            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><g><line fill="none" stroke-linejoin="round" stroke-miterlimit="10" x1="8.6" x2="4.2" y1="9.8" y2="9.8"></line><circle cx="3" cy="11.2" fill="none" r="2" stroke-miterlimit="10"></circle><circle cx="10" cy="11.2" fill="none" r="2" stroke-miterlimit="10"></circle><line fill="none" stroke-miterlimit="10" x1="10.5" x2="14.4" y1="7.3" y2="7.3"></line><polyline fill="none" points="1.5 9.8 .5 9.8 .5 1.8 10 1.8 10 9.1" stroke-linejoin="round" stroke-miterlimit="10"></polyline><polyline fill="none" points="9.9 3.8 14 3.8 14.5 10.2 11.9 10.2" stroke-linejoin="round" stroke-miterlimit="10"></polyline></g></svg>
            <div class="mx-4">
              <p class="mb-2">Vận chuyển tới</p>
              <p class="mb-0">Phí vận chuyển</p>
            </div>
            <div>
              <p class="mb-2">Phường An Phú Đông, Quận 12 <button><i class="fa-solid fa-chevron-down"></i></button></p>
              <p class="mb-0">₫4.000 <button><i class="fa-solid fa-chevron-down"></i></button></p>
            </div>
          </div>
        </div>
        <div class="mb-4 d-flex item">
          <label class="flex-shrink-0 text-capitalize">Màu sắc</label>
          <div class="classification-button">
            <button class="overflow-hidden selected">
              Đen - Dài 63cm
              <span class="position-absolute tick"></span>
            </button>
            <button>Đen - Ngắn 54cm</button>
            <button>Xanh than Navy 63cm</button>
            <button>Xanh than Navy 54cm</button>
            <button>Be xám - ngắn 54cm</button>
            <button>Be xám - Dài 54cm</button>
            <button>Trắng kem - Dài 63cm</button>
            <button>Đặt may</button>
            <button>Xanh Blue - Dài 63cm</button>
            <button>Xanh Blue - ngắn 54cm</button>
          </div>
        </div>
        <div class="mb-4 d-flex item">
          <label class="flex-shrink-0 text-capitalize">Size</label>
          <div class="classification-button">
            <button class="overflow-hidden selected">S <span class="position-absolute tick"></span></button>
            <button>M</button>
            <button>L</button>
            <button>Đặt may</button>
          </div>
        </div>
        <div class="mb-4 d-flex item">
          <label class="flex-shrink-0 text-capitalize">Số lượng</label>
          <div>
            <div class="d-flex align-items-center text-center form-input-amount">
              <button class="increment"><i class="fa-solid fa-plus"></i></button>
              <div class="d-flex align-items-center justify-content-center result">10</div>
              <button class="decrement"><i class="fa-solid fa-minus"></i></button>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn--lg btn-outline-primary-alt"><svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0"><g><g><polyline fill="none" points=".5 .5 2.7 .5 5.2 11 12.4 11 14.5 3.5 3.7 3.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polyline><circle cx="6" cy="13.5" r="1" stroke="none"></circle><circle cx="11.5" cy="13.5" r="1" stroke="none"></circle></g><line fill="none" stroke-linecap="round" stroke-miterlimit="10" x1="7.5" x2="10.5" y1="7" y2="7"></line><line fill="none" stroke-linecap="round" stroke-miterlimit="10" x1="9" x2="9" y1="8.5" y2="5.5"></line></g></svg>Thêm Vào Giỏ Hàng</button>
          <button class="btn btn--lg btn-primary-alt">Mua Ngay</button>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-flex bg-white agent">
    <div class="d-flex align-items-center agent__thumbnail">
      <div class="me-3 rounded-circle overflow-hidden agent__avatar">
        <img src="https://cf.shopee.vn/file/35a69541717be89b0e15e598b996754e_tn">
      </div>
      <div>
        <div class="mb-2">
          <strong>krfashion.vn</strong>
          <p class="mb-0 line-height-1">Online 2 Ngày Trước</p>
        </div>
        <div>
          <button class="btn btn--sm btn-outline-primary-alt"><svg viewBox="0 0 16 16"><g fill-rule="evenodd"><path d="M15 4a1 1 0 01.993.883L16 5v9.932a.5.5 0 01-.82.385l-2.061-1.718-8.199.001a1 1 0 01-.98-.8l-.016-.117-.108-1.284 8.058.001a2 2 0 001.976-1.692l.018-.155L14.293 4H15zm-2.48-4a1 1 0 011 1l-.003.077-.646 8.4a1 1 0 01-.997.923l-8.994-.001-2.06 1.718a.5.5 0 01-.233.108l-.087.007a.5.5 0 01-.492-.41L0 11.732V1a1 1 0 011-1h11.52zM3.646 4.246a.5.5 0 000 .708c.305.304.694.526 1.146.682A4.936 4.936 0 006.4 5.9c.464 0 1.02-.062 1.608-.264.452-.156.841-.378 1.146-.682a.5.5 0 10-.708-.708c-.185.186-.445.335-.764.444a4.004 4.004 0 01-2.564 0c-.319-.11-.579-.258-.764-.444a.5.5 0 00-.708 0z"></path></g></svg>Chat ngay</button>

          <button class="btn btn--sm btn-outline-light-alt"><svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" stroke-width="0" class="shopee-svg-icon _1rcInn"><path d="m13 1.9c-.2-.5-.8-1-1.4-1h-8.4c-.6.1-1.2.5-1.4 1l-1.4 4.3c0 .8.3 1.6.9 2.1v4.8c0 .6.5 1 1.1 1h10.2c.6 0 1.1-.5 1.1-1v-4.6c.6-.4.9-1.2.9-2.3zm-11.4 3.4 1-3c .1-.2.4-.4.6-.4h8.3c.3 0 .5.2.6.4l1 3zm .6 3.5h.4c.7 0 1.4-.3 1.8-.8.4.5.9.8 1.5.8.7 0 1.3-.5 1.5-.8.2.3.8.8 1.5.8.6 0 1.1-.3 1.5-.8.4.5 1.1.8 1.7.8h.4v3.9c0 .1 0 .2-.1.3s-.2.1-.3.1h-9.5c-.1 0-.2 0-.3-.1s-.1-.2-.1-.3zm8.8-1.7h-1v .1s0 .3-.2.6c-.2.1-.5.2-.9.2-.3 0-.6-.1-.8-.3-.2-.3-.2-.6-.2-.6v-.1h-1v .1s0 .3-.2.5c-.2.3-.5.4-.8.4-1 0-1-.8-1-.8h-1c0 .8-.7.8-1.3.8s-1.1-1-1.2-1.7h12.1c0 .2-.1.9-.5 1.4-.2.2-.5.3-.8.3-1.2 0-1.2-.8-1.2-.9z"></path></svg>Xem Shop</button>
        </div>
      </div>
    </div>
    <div class="ms-5 ps-5 border-start flex-fill d-flex align-items-center agent__statistic">
      <div>
        <p><label>Đánh Giá</label><span>4,1k</span></p>
        <p><label>Sản Phẩm</label><span>4,1k</span></p>
      </div>
      <div class="flex-fill">
        <p><label>Tỉ Lệ Phản Hồi</label><span>89%</span></p>
        <p><label>Thời Gian Phản Hồi</label><span>trong vài giờ</span></p>
      </div>
      <div class="flex-fill">
        <p><label>Tham Gia</label><span>33 tháng trước</span></p>
        <p><label>Người Theo Dõi</label><span>9,9k</span></p>
      </div>
    </div>
  </div>

  <div class="d-flex">
    <div class="me-3">
      <div class="mb-3 bg-white product__description">
        <div class="mb-3 text-uppercase title">Chi tiết sản phẩm</div>
        <ul class="product__properties">
          <li>
            <label>Danh Mục</label>
            <ul class="mb-0 d-inline-block breadcrumb">
              <li>Shopee <i class="mx-1 fa-solid fa-chevron-right"></i></li>
              <li>Thời Trang Nữ <i class="mx-1 fa-solid fa-chevron-right"></i></li>
              <li>Chân Váy</li>
            </ul>
          </li>
          <li>
            <label>Phong cách</label>
            <span>Hàn Quốc</span>
          </li>
          <li>
            <label>Dịp</label>
            <span>Công việc</span>
          </li>
          <li>
            <label>Xuất xứ</label>
            <span>Việt Nam</span>
          </li>
          <li>
            <label>Mẫu</label>
            <span>Trơn</span>
          </li>
          <li>
            <label>Kiểu váy</label>
            <span>váy ôm sát</span>
          </li>
          <li>
            <label>Chiều dài váy</label>
            <span>Midi</span>
          </li>
          <li>
            <label>Bản eo</label>
            <span>EO CAO</span>
          </li>
          <li>
            <label>Gửi từ</label>
            <span>Hà Nội</span>
          </li>
        </ul>

        <div class="mb-3 text-uppercase title">Mô tả sản phẩm</div>
        <p>Chân váy dài công sở dáng dài KRfashion SK2106 style Hàn Quốc đẹp vải Co dãn tốt, váy 2 lớp có xẻ sau bút chì đẹp, váy nữ dài đẹp cao cấp dáng ôm midi váy đen
          ℹ⛔ FreeShip_Khách hàng đừng quên add mã Freeship xtra để hưởng mã giảm giá ship  ( giảm từ 15-50K ship) tại mục Shopee Voucher khi khach lên đơn nhé.</p>
        <p>-------------------------------------</p>
        <p>Mã Sản Phẩm: Váy 2 lớp SK2106 ( skirt )
          -Chất lượng : Hàng cao cấp, may kỹ, chất vải loại 1
          - Tên Sản Phẩm: Chân váy công sở Cao Cấp bút chì style Hàn Quốc
          -Chân váy mặc công sở, dự tiệc: phông cách thanh lịch , sang trọng, tinh tế.
          - Màu Sắc: Nhiều màu
          - Số Size S-M-L (xem thông số size trong hình ảnh mô tả sản phẩm bên trên )
          - Chất Liệu Vải: trượt hàn ( đọ dày trung bình ), Co dãn, không nhăn nhàu
          - Chân váy có 2 lớp ( 1 lớp lót trong )
          - Xuất xứ: Việt Nam</p>
        <p>------------------------------</p>
        <p>Thông tin size : S-M-L (xem thông số size trong hình ảnh mô tả sản phẩm bên trên )
          Size     S     M      L  ( Shop có nhận đặt may số đo riêng)
          Eo       66    70    74
          Mông  88    92    96
          Dài     63    63.5   64  ( dáng dài )
          Dài     54    54.5   55  ( dáng ngắn )</p>
        <p>=> size S :  Eo ≤< 68cm, Mông 85-90cm
          => size M : Eo 68-72cm, Mông 90-94cm
          => size L : Eo 72-76cm, Mông 94-98cm
            Tham khảo   Size S: 42-50 kg, M: 49-57kg, L : 56-65 kg
          ⛔ Khách nên chọn size theo vòng eo + vòng hông để được size chuẩn nhất
          *(Khách hàng đặt may, khi lên đơn chọn thuộc tính : Size "Đặt may" và nhắn tin cho Shop số đo vòng eo ( trên rốn 2-3cm) + vòng Mông+ chiều dài váy. Thời gian hoàn thành hàng đặt may từ 1-2 ngày.</p>
        <p>------------------------------</p>
        <p>Mua sắm tại KRFASHION  Chân váy công sở Cao Cấp bút chì dáng dài midi style Hàn Quốc - , chân váy công sở dáng dài cạp cao, chân váy Hàn quốc cao cấp bút chì .</p>
        <p>-------------------------------</p>
        <p>✅ CAM KẾT 100% hàng chính hãng từ KRFashion
          ✅ CAM KẾT 100% đổi Size nếu sản phẩm đặt không vừa ( hỗ trợ đổi size trong vòng 7 ngày)
          ✅ CAM KẾT 100% đổi sản phẩm nếu khách hàng không ưng mẫu đã đặt
          ✅ Shop hỗ trợ đổi sang sản phẩm khác cùng giá hoặc cao hơn nếu khách có nhu cầu đổi mẫu khác.
          ✅ Sản phẩm đổi phải còn nguyên tem mác và chưa qua sử dụng.
          ✅ Nếu có bất kì khiếu nại cần Shop hỗ trợ về sản phẩm, khi mở sản phẩm các Chị vui lòng quay lại video quá trình mở sản phẩm để được đảm bảo 100% đổi lại sản phẩm mới nếu Shop giao bị lỗi.
          ✅ Khách yêu nhận được sản phẩm, vui lòng đánh giá 5* giúp Shop để nhận QUÀ đặc biệt từ KRFashion nhé!</p>
        <p> ***KRFashion Official Store cảm ơn quý khách hàng đã tin yêu sản phẩm, chúc bạn có một ngày mua sắm thật vui vẻ thoải mái !!!
          📌-Liên hệ : 033.4141.899
          📌-website : krfashion .vn
          📌-Fanpage Fb : / krthoitrang</p>

        <p>#chanvaycongso #chanvaycapcao #chanvayhanquoc #krfashion #chanvaybutchi #thoitrangnu #chanvaycongsodangdai #chanvaydangdai #chanvaydep #chanvaydai #chanvaycaocap #chanvaymididai #chanvaydep #chanvaynudep #chanvayom #chanvayden #chanvaydaicongso</p>
      </div>

      <div class="bg-white product__rating">
        <h3 class="mb-3 text-uppercase">Đánh giá sản phẩm</h3>
        <div class="mb-4 d-flex product__rating-overview">
          <div class="me-5 text-primary-alt product__rating-overview__briefing">
            <div class="mb-1">
              <strong class="me-2 fw-normal">4.9</strong>
              <span>/5</span>
            </div>
            <div>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <div class="product__rating-overfile__filter">
            <div class="mb-2">
              <button class="btn btn-outline-light-alt">Tất Cả</button>
              <button class="btn btn-outline-light-alt">5 Sao (718)</button>
              <button class="btn btn-outline-light-alt">4 Sao (51)</button>
              <button class="btn btn-outline-light-alt">3 Sao (101)</button>
              <button class="btn btn-outline-light-alt">2 Sao (0)</button>
              <button class="btn btn-outline-light-alt">1 Sao (13)</button>
            </div>
            <div>
              <button class="btn btn-outline-light-alt">Có Bình Luận (529)</button>
              <button class="btn btn-outline-light-alt">Có Hình Ảnh (416)</button>
            </div>

          </div>
        </div>

        <div class="product__comment-list">
          <div class="mb-4 pb-4 d-flex comment">
            <div class="me-2 comment__avatar">
              <div class="rounded-circle thumbnail">
                <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-headshot"><g><circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle><path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path></g></svg>
              </div>
            </div>
            <div class="comment__main">
              <div class="author-name">Thomas.Tran</div>
              <div class="text-primary-alt rating-icon">
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="time">2022-10-17 17:33</div>
              <div class="mb-4 content">Chiều hôm ấy có mưa rơi nhẹ trên minai, tôi vội bước đến nhà nàng lòng đau quặng thắc khi nghe tin nàng có người mới</div>
              <div class="mb-4 highlight">
                <span class="me-1 d-inline-block item">Chất lượng sản phẩm tuyệt vời</span>
                <span class="me-1 d-inline-block item">Đóng gói sản phẩm rất đẹp và chắc chắn</span>
                <span class="d-inline-block item">Rất đáng tiền</span>
              </div>
              <div class="list-image">
                <div class="d-inline-block thumbnail">
                  <img src="https://cf.shopee.vn/file/72c49ddcf25c850c0c82b924b0506d6f_tn" alt="">
                </div>
                <div class="d-inline-block thumbnail"> <img src="https://cf.shopee.vn/file/690cbd5bd48ad772960e939cb4a22099_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
              </div>
            </div>
          </div>

          <div class="mb-4 pb-4 d-flex comment">
            <div class="me-2 comment__avatar">
              <div class="rounded-circle thumbnail">
                <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-headshot"><g><circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle><path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path></g></svg>
              </div>
            </div>
            <div class="comment__main">
              <div class="author-name">Thomas.Tran</div>
              <div class="text-primary-alt rating-icon">
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="time">2022-10-17 17:33</div>
              <div class="mb-4 content">Chiều hôm ấy có mưa rơi nhẹ trên minai, tôi vội bước đến nhà nàng lòng đau quặng thắc khi nghe tin nàng có người mới</div>
              <div class="mb-4 highlight">
                <span class="me-1 d-inline-block item">Chất lượng sản phẩm tuyệt vời</span>
                <span class="me-1 d-inline-block item">Đóng gói sản phẩm rất đẹp và chắc chắn</span>
                <span class="d-inline-block item">Rất đáng tiền</span>
              </div>
              <div class="list-image">
                <div class="d-inline-block thumbnail">
                  <img src="https://cf.shopee.vn/file/72c49ddcf25c850c0c82b924b0506d6f_tn" alt="">
                </div>
                <div class="d-inline-block thumbnail"> <img src="https://cf.shopee.vn/file/690cbd5bd48ad772960e939cb4a22099_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
              </div>
            </div>
          </div>

          <div class="mb-4 pb-4 d-flex comment">
            <div class="me-2 comment__avatar">
              <div class="rounded-circle thumbnail">
                <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-headshot"><g><circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle><path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path></g></svg>
              </div>
            </div>
            <div class="comment__main">
              <div class="author-name">Thomas.Tran</div>
              <div class="text-primary-alt rating-icon">
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="time">2022-10-17 17:33</div>
              <div class="mb-4 content">Chiều hôm ấy có mưa rơi nhẹ trên minai, tôi vội bước đến nhà nàng lòng đau quặng thắc khi nghe tin nàng có người mới</div>
              <div class="mb-4 highlight">
                <span class="me-1 d-inline-block item">Chất lượng sản phẩm tuyệt vời</span>
                <span class="me-1 d-inline-block item">Đóng gói sản phẩm rất đẹp và chắc chắn</span>
                <span class="d-inline-block item">Rất đáng tiền</span>
              </div>
              <div class="list-image">
                <div class="d-inline-block thumbnail">
                  <img src="https://cf.shopee.vn/file/72c49ddcf25c850c0c82b924b0506d6f_tn" alt="">
                </div>
                <div class="d-inline-block thumbnail"> <img src="https://cf.shopee.vn/file/690cbd5bd48ad772960e939cb4a22099_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
              </div>
            </div>
          </div>

          <div class="d-flex comment">
            <div class="me-2 comment__avatar">
              <div class="rounded-circle thumbnail">
                <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-headshot"><g><circle cx="7.5" cy="4.5" fill="none" r="3.8" stroke-miterlimit="10"></circle><path d="m1.5 14.2c0-3.3 2.7-6 6-6s6 2.7 6 6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path></g></svg>
              </div>
            </div>
            <div class="comment__main">
              <div class="author-name">Thomas.Tran</div>
              <div class="text-primary-alt rating-icon">
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="me-1 fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="time">2022-10-17 17:33</div>
              <div class="mb-4 content">Chiều hôm ấy có mưa rơi nhẹ trên minai, tôi vội bước đến nhà nàng lòng đau quặng thắc khi nghe tin nàng có người mới</div>
              <div class="mb-4 highlight">
                <span class="me-1 d-inline-block item">Chất lượng sản phẩm tuyệt vời</span>
                <span class="me-1 d-inline-block item">Đóng gói sản phẩm rất đẹp và chắc chắn</span>
                <span class="d-inline-block item">Rất đáng tiền</span>
              </div>
              <div class="list-image">
                <div class="d-inline-block thumbnail">
                  <img src="https://cf.shopee.vn/file/72c49ddcf25c850c0c82b924b0506d6f_tn" alt="">
                </div>
                <div class="d-inline-block thumbnail"> <img src="https://cf.shopee.vn/file/690cbd5bd48ad772960e939cb4a22099_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
                <div class="d-inline-block thumbnail"><img src="https://cf.shopee.vn/file/59a79d985241634a193fd91b09636412_tn" alt=""></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white product__sidebar">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sapiente tempora quasi eius eos minima ratione sit, dignissimos facere quas deserunt voluptatum odit aliquam, explicabo dolorum dolorem alias aliquid culpa!</p>
    </div>
  </div>
</div>

<div *ngIf = "isLoading" class="product product--summary skeleton">
  <div class="mb-3 d-flex bg-white ">
    <div class="product__thumbnail">
      <div class="w-100 mb-3 product__avatar skeleton-box">
      </div>

      <div class="product__image-slide">
        <div class="item skeleton-box"></div>
        <div class="item skeleton-box"></div>
        <div class="item skeleton-box"></div>
        <div class="item skeleton-box"></div>
        <div class="item skeleton-box"></div>
      </div>
    </div>

    <div class="flex-fill product__text">
      <div class="w-100 skeleton-box line"></div>
      <div class="mb-5 w-75 skeleton-box line"></div>
      <div class="w-100 skeleton-box paragraph"></div>
    </div>
  </div>

  <!-- Start :: Agent Information -->
  <div class="mb-3 d-flex bg-white agent skeleton">
    <div class="d-flex align-items-center agent__thumbnail">
      <div class="me-3 rounded-circle overflow-hidden agent__avatar skeleton-box">

      </div>
    </div>

    <div class="ms-5 ps-5 border-start flex-fill d-flex align-items-center agent__statistic skeleton-box">

    </div>
  </div>
  <!-- End :: Agent Information -->
</div>
