<div class="main-wrapper">
    <div class="d-flex main-body">
        <!-- Start :: Blueprint Sidebar -->
        <div class="p-3 blueprint-sidebar">
            <app-blueprint-sidebar></app-blueprint-sidebar>
        </div>
        <!-- End :: Blueprint Sidebar -->

        <div class="blueprint-draft">
            <app-blueprint-draft></app-blueprint-draft>
        </div>

        <!-- Start :: Blueprint Input -->
        <div class="overflow-hidden position-relative blueprint-input">
            <app-blueprint-input></app-blueprint-input>
        </div>

        <!-- End :: Blueprint Input -->

    </div>
</div>