@use 'src/assets/style/variables/fontSize' as fs;
@use 'src/assets/style/variables/color' as color;

.product-category {
  .widget-filter {
    flex-basis: 190px;
    flex-shrink: 0;
  }

  .search-item-result {
    .header {
      svg.icon-hint-bulb {
        width: 20px;
        height: 17px;
        stroke: color.$color-13;
        stroke-width: 1px;
      }
    }
  }
}
