$color-1: #f5f5f5;                // background 1
$color-2: #ee4d2d;                // background 1
$color-3: rgba(0,0,0,.02);
$color-4: #eaeaea;
$color-5: rgba(255,197,178,.181);
$color-6: rgba(255,87,34,.1);
$color-7: #f05d40;
$color-8: #fffbf8;
$color-9: #f5f5f5;


$color-10: rgba(0,0,0,.54);       // text 0
$color-11: rgba(0,0,0,.87);       // text 1
$color-12: #08f;                  // text 2
$color-13: #555;                  // text 2
$color-14: #fff;                  // text 2
$color-15: #222;                  // text 2
$color-16: #0055aa;                  // text 2
$color-17: rgba(0,0,0,.8);                  // text 2
$color-18: rgb(146, 146, 146);                  // text 2
$color-19: #757575;


$color-20: rgba(0,0,0,.09);       // border color
$color-21: rgba(0,0,0,.03);
$color-22: rgba(0,0,0,.4);
$color-23: #f9ede5;
$color-24: #c6c6c6;
$color-25: rgb(248, 248, 248);
$color-26: rgba(0,0,0,.26);
$color-27: #ffce3d;
$color-28: #ccc;
$color-29: rgba(0,0,0,.14);
$color-30: #b7b7b7;
$color-31: rgba(0,0,0,.04);
$color-32: #2673dd;


