@use 'color' as color;
@use 'fontSize' as fs;

.main-wrapper {
  .widget-logo {
    font-size: 24px;

    svg {
      width: 190px;
      height: 42px;
      fill: color.$color-2;
    }
    span {
      margin-top: 10px;
      margin-left: -20px;
    }
  }
}
