<div class="mb-3 bg-white cart">
  <div class="py-4 d-flex align-items-center cart__item">
    <div class="px-4 indent">
      <div class="position-relative d-inline-block checkbox"></div>
    </div>
    <div class="d-flex align-items-center shop-info">
      <span class="badge badge-primary-alt">Yêu thích</span>
      <span class="mx-2">KRFASHION Official</span>
      <button><svg viewBox="0 0 16 16" class="shopee-svg-icon _2KYoW7"><g fill-rule="evenodd"><path d="M15 4a1 1 0 01.993.883L16 5v9.932a.5.5 0 01-.82.385l-2.061-1.718-8.199.001a1 1 0 01-.98-.8l-.016-.117-.108-1.284 8.058.001a2 2 0 001.976-1.692l.018-.155L14.293 4H15zm-2.48-4a1 1 0 011 1l-.003.077-.646 8.4a1 1 0 01-.997.923l-8.994-.001-2.06 1.718a.5.5 0 01-.233.108l-.087.007a.5.5 0 01-.492-.41L0 11.732V1a1 1 0 011-1h11.52zM3.646 4.246a.5.5 0 000 .708c.305.304.694.526 1.146.682A4.936 4.936 0 006.4 5.9c.464 0 1.02-.062 1.608-.264.452-.156.841-.378 1.146-.682a.5.5 0 10-.708-.708c-.185.186-.445.335-.764.444a4.004 4.004 0 01-2.564 0c-.319-.11-.579-.258-.764-.444a.5.5 0 00-.708 0z"></path></g></svg></button>
    </div>

  </div>
  <div class="py-4 d-flex align-items-center cart__item">
    <div class="px-4 indent">
      <div class="position-relative d-inline-block checkbox active"></div>
    </div>
    <div class="pe-4 d-flex align-items-center border-0 flex-fill product">
      <div class="me-2 product__thumbnail">
        <img src="https://cf.shopee.vn/file/sg-11134201-22100-1k7s9a6bkqiv9b_tn" alt="">
      </div>
      <div class="flex-fill">
        <div class="mb-2 product__title">Chân váy công sở bút chì Cao Cấp- 2 Lớp SK2100 KRFashion style Hàn Quốc - Váy dài ngắn nữ đen đẹp Cạp cao, ôm co dãn tốt</div>
        <div class="w-100 bg-size-contain bg-no-repeat label-image" style="background-image: url('https://cf.shopee.vn/file/39e3ac710e29420ed148e41594fc8206');"></div>
      </div>
    </div>
    <div class="px-4 classification">
      <p class="mb-0">Phân Loại Hàng: <button class="dropdown-icon"></button></p>
      <p class="mb-0 result">Đen Black_Vừa 55cm, S</p>
    </div>
    <div class="px-4 d-flex align-items-center price">
      <div class="product__price--original">₫310.000</div>
      <div class="product__price--reliaty">₫189.000</div>
    </div>
    <div class="px-4 widget-amount">
      <div class="d-inline-flex align-items-center text-center form-input-amount">
        <button class="increment"><i class="fa-solid fa-plus"></i></button>
        <div class="d-flex align-items-center justify-content-center result">10</div>
        <button class="decrement"><i class="fa-solid fa-minus"></i></button>
      </div>
    </div>
    <div class="px-4 total-price">
      <div class="product__price--reliaty">₫189.000</div>
    </div>
    <div class="control">
      <button>Xóa</button>
    </div>
  </div>
  <div class="py-4 d-flex align-items-center cart__item">
    <div class="px-4 indent">
      <div class="position-relative d-inline-block checkbox active"></div>
    </div>
    <div class="pe-4 d-flex align-items-center border-0 flex-fill product">
      <div class="me-2 product__thumbnail">
        <img src="https://cf.shopee.vn/file/sg-11134201-22100-1k7s9a6bkqiv9b_tn" alt="">
      </div>
      <div class="flex-fill">
        <div class="mb-2 product__title">Chân váy công sở bút chì Cao Cấp- 2 Lớp SK2100 KRFashion style Hàn Quốc - Váy dài ngắn nữ đen đẹp Cạp cao, ôm co dãn tốt</div>
        <div class="w-100 bg-size-contain bg-no-repeat label-image" style="background-image: url('https://cf.shopee.vn/file/39e3ac710e29420ed148e41594fc8206');"></div>
      </div>
    </div>
    <div class="px-4 classification">
      <p class="mb-0">Phân Loại Hàng: <button class="dropdown-icon"></button></p>
      <p class="mb-0 result">Đen Black_Vừa 55cm, S</p>
    </div>
    <div class="px-4 d-flex align-items-center price">
      <div class="product__price--original">₫310.000</div>
      <div class="product__price--reliaty">₫189.000</div>
    </div>
    <div class="px-4 widget-amount">
      <div class="d-inline-flex align-items-center text-center form-input-amount">
        <button class="increment"><i class="fa-solid fa-plus"></i></button>
        <div class="d-flex align-items-center justify-content-center result">10</div>
        <button class="decrement"><i class="fa-solid fa-minus"></i></button>
      </div>
    </div>
    <div class="px-4 total-price">
      <div class="product__price--reliaty">₫189.000</div>
    </div>
    <div class="control">
      <button>Xóa</button>
    </div>
  </div>
  <div class="py-4 d-flex align-items-center cart__item">
    <div class="px-4 indent">
      <div class="position-relative d-inline-block checkbox active"></div>
    </div>
    <div class="pe-4 d-flex align-items-center border-0 flex-fill product">
      <div class="me-2 product__thumbnail">
        <img src="https://cf.shopee.vn/file/sg-11134201-22100-1k7s9a6bkqiv9b_tn" alt="">
      </div>
      <div class="flex-fill">
        <div class="mb-2 product__title">Chân váy công sở bút chì Cao Cấp- 2 Lớp SK2100 KRFashion style Hàn Quốc - Váy dài ngắn nữ đen đẹp Cạp cao, ôm co dãn tốt</div>
        <div class="w-100 bg-size-contain bg-no-repeat label-image" style="background-image: url('https://cf.shopee.vn/file/39e3ac710e29420ed148e41594fc8206');"></div>
      </div>
    </div>
    <div class="px-4 classification">
      <p class="mb-0">Phân Loại Hàng: <button class="dropdown-icon"></button></p>
      <p class="mb-0 result">Đen Black_Vừa 55cm, S</p>
    </div>
    <div class="px-4 d-flex align-items-center price">
      <div class="product__price--original">₫310.000</div>
      <div class="product__price--reliaty">₫189.000</div>
    </div>
    <div class="px-4 widget-amount">
      <div class="d-inline-flex align-items-center text-center form-input-amount">
        <button class="increment"><i class="fa-solid fa-plus"></i></button>
        <div class="d-flex align-items-center justify-content-center result">10</div>
        <button class="decrement"><i class="fa-solid fa-minus"></i></button>
      </div>
    </div>
    <div class="px-4 total-price">
      <div class="product__price--reliaty">₫189.000</div>
    </div>
    <div class="control">
      <button>Xóa</button>
    </div>
  </div>
  <div class="py-4 d-flex align-items-center cart__item">
    <div class="px-4 indent">
      <div class="position-relative d-inline-block checkbox active"></div>
    </div>
    <div class="pe-4 d-flex align-items-center border-0 flex-fill product">
      <div class="me-2 product__thumbnail">
        <img src="https://cf.shopee.vn/file/sg-11134201-22100-1k7s9a6bkqiv9b_tn" alt="">
      </div>
      <div class="flex-fill">
        <div class="mb-2 product__title">Chân váy công sở bút chì Cao Cấp- 2 Lớp SK2100 KRFashion style Hàn Quốc - Váy dài ngắn nữ đen đẹp Cạp cao, ôm co dãn tốt</div>
        <div class="w-100 bg-size-contain bg-no-repeat label-image" style="background-image: url('https://cf.shopee.vn/file/39e3ac710e29420ed148e41594fc8206');"></div>
      </div>
    </div>
    <div class="px-4 classification">
      <p class="mb-0">Phân Loại Hàng: <button class="dropdown-icon"></button></p>
      <p class="mb-0 result">Đen Black_Vừa 55cm, S</p>
    </div>
    <div class="px-4 d-flex align-items-center price">
      <div class="product__price--original">₫310.000</div>
      <div class="product__price--reliaty">₫189.000</div>
    </div>
    <div class="px-4 widget-amount">
      <div class="d-inline-flex align-items-center text-center form-input-amount">
        <button class="increment"><i class="fa-solid fa-plus"></i></button>
        <div class="d-flex align-items-center justify-content-center result">10</div>
        <button class="decrement"><i class="fa-solid fa-minus"></i></button>
      </div>
    </div>
    <div class="px-4 total-price">
      <div class="product__price--reliaty">₫189.000</div>
    </div>
    <div class="control">
      <button>Xóa</button>
    </div>
  </div>
</div>
