<router-outlet></router-outlet>
<!-- <div class="container">
    <div class="row">
        <ng-container *ngFor="let item of imgs">
            <div class="col-4 mb-3 thumbnail">
                <img
                    loading="lazy"
                    class="lazy-img"
                    width="100%"
                    height="100%"
                    alt="test image"
                    attr.lazy-src="{{item}}"
                    attr.lazy-srcset="{{defaultImage}} 2x, {{item}} 1x"
                >
            </div>
        </ng-container>
    </div>
</div> -->

<!-- <button class="px-3 fixed-button" (click)="handleClickButton()">
    Click me!
    <p>{{count}}</p>
</button> -->

